.page-header {
    background-color:#eee;
    margin-top: 0px;
}

td.repo {
  word-wrap: break-word;
  word-break: break-all;
}

.sticky-header>thead>tr>* {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px;
  background-color: #fff;
  z-index: 1;
  border: none;
}
.sticky-header>tbody>tr:first-child>* {
  border: none;
}
.sticky-header>thead>tr>*::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.text-center {
    font-size:24px;
}

@media (prefers-color-scheme: dark) {
    .page-header {
        background: #333;

        border-bottom-color: #000;
    }
    body,
    .panel-heading {
        color: #bbb !important;
        background: #000 !important;
        border-color: #555 !important;
    }
    .panel-default,
    th,
    td {
        background-color: #000 !important;
        border-color: #555 !important;
    }
    th:after {
        border-bottom-color: #333 !important;
    }
    th,
    td {
        border-top-color: #333 !important;
    }
    h1 {
        color: #eee;
    }

    blockquote {
        border-left-color: #555;
    }

    .success {
        background-color: #040 !important;
    }
    .warning {
        background-color: #440 !important;
    }
    .danger {
        background-color: #630 !important;
    }
    .info {
        background-color: #034 !important;
    }

}
